@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@import "react-image-gallery/styles/css/image-gallery.css";

@theme {
    --font-sans:
        'Karla', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --text-bread: 1em;
    --text-smallbread: 0.9em;
    
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    
    /* Dark mode colors */
    --color-bright: #DFF2FE;
    --color-midbright: #364454;
    --color-middark: #202A30;
    --color-dark: #191B1C;
    --color-brightburg: #762B3C;
    --color-burgundy: #471E27;

    /* Light mode colors */
    --color-lm-pink: #FDCEC9;
    --color-lm-bright: #F8FAFC;
    --color-lm-mediumbright: #D9EAFD;
    --color-lm-medium: #BCCCDC;
    --color-lm-mediumdark: #9AA6B2;
    --color-lm-dark: #324E5E;

    
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    
    /* User popup in sidebar */
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    
    /* Buttons */
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-foreground-links: var(--foreground-links);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    /* active link */
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    /* Hover links */
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border:var(--border); 
    --color-other-border: var(--boarder); 
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* Cards */
    --color-default-card: var(--default-card);
    --color-default-hover: var(--default-hover);

    /* Max width */
    --spacing-8xl: 95rem;
    /* Max height */
    --spacing-8xlh: 40rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: #F8FAFC;
    --foreground: #000;
    --foreground-links: #324E5E;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: #F8FAFC;
    --popover-foreground: #000;
    --primary: #BCCCDC;
    --primary-foreground: #000;
    --secondary: #9AA6B2; /* Buttons */
    --secondary-foreground: #000;
    --muted: #BCCCDC;
    --muted-foreground: oklch(0.556 0 0);
    --accent: #9AA6B2;
    --accent-foreground: #000;
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: #9AA6B2;
    --input: #9AA6B2;
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #D9EAFD;
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: #D9EAFD;
    --sidebar-ring: oklch(0.87 0 0);
    --default-card: #D9EAFD;
    --default-hover: #FDCEC9;
}

.dark {
    --background: #191B1C;
    --foreground: #fff;
    --foreground-links: #DFF2FE;
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: #202A30; /* User popover in sidebar */
    --popover-foreground: oklch(0.985 0 0);
    --primary: #364454;
    --primary-foreground: #DFF2FE;
    --secondary: #202A30;
    --secondary-foreground: #fff;
    --muted: #202A30; /* Active link in user settings */
    --muted-foreground: oklch(0.708 0 0);
    --accent: #364454; /* Hover in user settings */
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: #364454; 
    --input: #364454;
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #202a30; 
    --sidebar-foreground: #DFF2FE; /* Text-color sidebar */
    --sidebar-primary: oklch(0.985 0 0); 
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #762B3C; /* Hover on links in sidebar */
    --sidebar-accent-foreground: oklch(0.985 0 0); /* Text for user on sidebar */
    --sidebar-border: #202A30;
    --sidebar-ring: oklch(0.439 0 0);
    --default-card: #202A30;
    --default-hover: #471E27;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

#categorysearch {
    border: none; 
    border-bottom: 1px solid var(--foreground-links);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1em 1em 1em 3em; 
}

p {
    max-width: 60rem;
}

button {
    cursor: pointer;
}